body {
	background: #D9D7DD;
	font-family: roboto mono, roboto, helvetica;
	font-size: 15px;
}

/*Build of the lay-out*/
.container {
	display: grid;
	background-image: linear-gradient(to bottom right, #EE4266, #FFCE30);
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border-radius: 10px;
}

/*Details of the different sections*/
.container div {
	background: #D9D7DD;
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
}

/*Menu details and size*/
.menu {
	display: grid;
	grid-column: 1/2;
	grid-row: 1/3;
	height: 2fr;
	width: 1fr;
}

.form {
	padding-top: 20px;
}

/*Design of the button*/
.button {
	padding: 5px;
	background-image: linear-gradient(to bottom right, #EE4266, #FFCE30);
	color: black;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

/*Change of the button when on hover*/
.button:hover {
	background: #D9D7DD;
	background-image: none; 
	color: black; 
	border: 2px solid #EE4266;

}

/*Weather details and size*/
.weather {
	display: grid;
	grid-column: 2/4;
	height: 1fr;
	width: 1fr;
	text-align: center;
}

/*city details and size*/
.city {
	display: grid;
	grid-column: 4/6;
	height: 1fr;
	width: 2fr;
	text-align: center;

}

#weather {
	padding: 5px;
}

/*language details and size*/
.language {
	display: grid;
	grid-column: 2/4;
	height: 1fr;
	width: 1fr;
	text-align: center;
}

/*currency details and size*/
.currency {
	display: grid;
	grid-column: 4/6;
	height: 1fr;
	width: 1fr;
	text-align: center;
}


@media only screen and (min-width: 320px) {
	.container {
			margin: 0 0 auto;
	}

}

@media only screen and (min-width: 340px) {
	
	.menu {
		display: grid;
		grid-column: 1/6;
		grid-row: 1/2;
		height: 50px;
		width: 100% auto;
	}

	.menu div {
		height: 45px;
		max-width: 45px;
		margin: .2em;
		padding: .1em;
	}

	.container div {
		max-width: 100% auto;
	}

	.weather {
		display: grid;
		grid-column: 1/6;
		grid-row: 3/3;
		height: 100px;
		width: 100% auto;
		padding: 5px;
	}	

	.city {
		display: grid;
		grid-column: 1/6;
		grid-row: 2/3;
		height: 100px;
		width: 100% auto;
	}


	.language {
		display: none;
	}

	.currency {
		display: none;
	}

}

@media only screen and (min-width: 500px) {
	.language {
		display: grid;
		grid-column: 1/3;
		grid-row: 5/6;
		height: 100px;
		width: 100% auto;
	}

	.currency {
		display: grid;
		grid-column: 3/6;
		grid-row: 5/6;
		height: 100px;
		width: 100% auto;
	}

 }

 @media only screen and (min-width: 650px) {
 	.container {
 		margin: 50px;
 	}

 	.city {
 		display: grid;
		grid-column: 3/6;
		grid-row: 2/3;
 	}

 	.weather {
 		display: grid;
		grid-column: 1/3;
		grid-row: 2/3;
 	}

 }

 @media only screen and (min-width: 900px) {
 	.form {
 		padding-top: 100px;
 	}

 	.menu {
		display: grid;
		grid-column: 1/2;
		grid-row: 1/3;
		width: 100% auto;
		height: 270px;
	}

	.weather {
		display: grid;
		grid-column: 2/4;
		grid-row: 1/2;

	}

	.city {
		display: grid;
		grid-column: 4/6;
		grid-row: 1/2;

	}

	/*.weather {
		display: grid;
		grid-column: 2/3;
		grid-row: 2/3;
	}*/

	.language {
		display: grid;
		grid-column: 2/4;
		grid-row: 2/3;
	}

	.currency {
		display: grid;
		grid-column: 4/6;
		grid-row: 2/3;
	}

}